# Archivos de entorno
.env
.env.local
.env.production

# Dependencias
node_modules/

# Logs y temporales
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# Compilados o cache
dist/
build/
.cache/
.DS_Store
